/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --font-accent-color: #DB00FF;
  --color-blue: #000028;
  --border: 
}


.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0.625rem;
  gap: 4.065rem;
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 3.44rem;
  padding-block-end: 4.065rem;
  align-self: start;
  justify-self: start;
}

.header__logo {
  align-self: start;
  justify-self: start;
}

.header__rec {
  display: block;
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  color: var(--accent-color);
  align-items: center;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  top: 50%;
  left: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self:  end;
  color: var(--accent-color);
  padding-inline-end: 1.25rem;
  padding-block-start: 4.065rem;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
  padding: 1.5px 13px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  outline-offset: -1px;  
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__logo {
  text-transform: lowercase;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--font-accent-color);
  text-shadow: 4px 4px 0  var(--accent-color);
  padding-inline-start: 13px;
}

.header__text-conainer{
  background-color: var(--accent-color);
}

.header__text {
  font-weight: bold;
  line-height: 23.4px;
  color: var(--color-blue);
}