/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --font-title-color: #ff0070;
  --font-accent-color: #db00ff;
  --font-nav-color: #ff0070;
  --color-blue: #000028;
  --main-gap: 10px;
  --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-gap: 50px;
  --title-gap: 20px;
  --main-padding: 10px;
  --text-color: #f1b2ce;
  --line-height: 1.3;
  --padding-content: 40px;
  --menu-button-hover: rgb(255 0 112 / 0.4);
}

@media (min-width: 768px) {

  :root {
    --main-padding: 20px;
    --main-gap: 20px;
    --section-gap: 80px;
    --padding-content: 60px;
    --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
